/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26-06-2014, 07:59:11 PM
    Author     : Gustavo Salvo Lara
*/

body{
    background-color: #ffffff;
    
    background-repeat: no-repeat;
    background-size: auto, 100%;
}